# Build results
bin/
obj/
publish/
publish_fdd/
installer/output/
installer/redist/
installer/redist/**

# Visual Studio / Rider / VS Code cache
.vs/
.idea/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# Agent helper directory (internal)
exec/
